src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s4hana="http://www.mulesoft.org/schema/mule/s4hana" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:os="http://www.mulesoft.org/schema/mule/os"
    xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/s4hana http://www.mulesoft.org/schema/mule/s4hana/current/mule-s4hana.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    <flow name="fromS4HanaToSalesforce" doc:id="759839c4-b32d-4e87-9d36-ce63694cb83c">
        <batch:job jobName="migrateProductsToSalesforceBatch" doc:id="5bd60a74-0002-4d70-ae4a-8211e67ae465" blockSize="${page.size}">
            <batch:process-records>
                <batch:step name="getProductInSalesforceStep" doc:id="ea03d64b-2837-4637-bb5f-3fbaa10d4131">
                    <salesforce:query-single doc:name="Query Product from Salesforce" doc:id="a9b937d0-ae5c-433a-904d-042f0a2ad7f3" config-ref="Salesforce_Config"
                        target="sfdcId" targetValue="#[payload.Id]">
                        <salesforce:salesforce-query>SELECT Id FROM Product2 WHERE ProductCode = ':productcode'
                        </salesforce:salesforce-query>
                        <salesforce:parameters><![CDATA[#[output application/java
---
{
    "productcode" : payload.ProductCode
}]]]></salesforce:parameters>
                    </salesforce:query-single>
                    <ee:transform doc:name="Set Id from matching Product" doc:id="df83c4b5-2b2f-4a6b-b6e3-1305aef40c29">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload ++ {Id : vars.sfdcId}]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <logger level="INFO" doc:name="Log’s data input to Salesforce upsert" doc:id="d65b1348-1d07-488c-81f9-25d31af8a2ac" message="#[output application/json --- payload]" />
                </batch:step>
                <batch:step name="upsertProductInSalesforceStep" doc:id="0faf8e94-bc67-4aec-a07f-685312d006ec">
                    <batch:aggregator doc:name="Batch Aggregator" doc:id="5e4e5166-42c8-4be9-8198-ead74d8ca9ff" size="${aggregator.size}">
                        <salesforce:upsert type="Product2" doc:name="Upsert Product in Salesforce" doc:id="9f5a6c25-8499-4866-9c2f-00441d36dded"
                            externalIdFieldName="Id" config-ref="Salesforce_Config">
                        </salesforce:upsert>
                        <logger level="INFO" doc:name="Log's result" doc:id="9373ad80-0edd-41d3-bcd6-fe36be0e252d" message="#[output application/json --- payload]" />
                    </batch:aggregator>
                </batch:step>
            </batch:process-records>
            <batch:on-complete>
                <os:store key="syncState" doc:name="Set sync state to fromSalesforce" doc:id="81cd0e51-f7c7-4cc9-b433-9e1c3ab0404d" objectStore="SchedulerStatus">
                    <os:value><![CDATA[#["fromSalesforce"]]]></os:value>
                </os:store>
            </batch:on-complete>
        </batch:job>
    </flow>
    <flow name="fromSalesforceToS4Hana" doc:id="759839c4-b32d-4e87-9d36-ce63694cb83c">
        <batch:job jobName="migrateProductsToS4HanaBatch" doc:id="5bd60a74-0002-4d70-ae4a-8211e67ae465" blockSize="${page.size}">
            <batch:process-records>
                <batch:step name="checkProductInS4HanaStep" doc:id="ea03d64b-2837-4637-bb5f-3fbaa10d4131">
                    <set-variable value="#[payload]" doc:name="Set Product variable" doc:id="e283de8a-c8bc-4726-a7ca-ea4b6e055cca" variableName="product" />
                    <s4hana:query service="API_PRODUCT_SRV" entityType="A_Product" doc:name="Get Product from S4Hana" doc:id="90827310-a1f5-4790-9ef1-a58f5d01d52d"
                        config-ref="SAP_S_4HANA_Config" filter="#[&quot;Product eq '&quot; ++ payload.Product ++ &quot;'&quot;]" target="sapId" targetValue="#[payload[0].Product]" />
                    <logger level="INFO" doc:name="Log extended payload" doc:id="6d9ac364-56e2-4be9-b5e1-c00aafef995a" message="#[output apllication/json --- payload]" />
                </batch:step>
                <batch:step name="createProductBatch" doc:id="89a2dbd2-421c-4481-98df-dfb4db5d90b8" acceptExpression='#[vars.sapId == null]'>
                    <s4hana:create-entity service="API_PRODUCT_SRV" entityType="A_Product" doc:name="Create Product in S4Hana" doc:id="94e99fc1-0648-4e0b-932a-670ed07a8212"
                        config-ref="SAP_S_4HANA_Config">
                        <s4hana:entity><![CDATA[#[vars.Product]]]></s4hana:entity>
                    </s4hana:create-entity>
                    <ee:transform doc:name="Save S4 Hana Response" doc:id="f96e8740-2a87-4c16-bf6e-e089c0b7e681">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <logger level="INFO" doc:name="Log Response" doc:id="011c736f-8635-4c2a-a388-aef876b6d879" message="Create product: #[output application/json --- payload]" />
                </batch:step>
                <batch:step name="updateProductBatch" doc:id="cafff2a7-c738-453a-82c6-550f08cd691e" acceptExpression="#[vars.sapId != null]">
                    <s4hana:update-entity service="API_PRODUCT_SRV" entityType="A_Product" doc:name="Update Product in S4Hana" doc:id="4a86acec-f67e-409b-beac-1cf7002440f4"
                        config-ref="SAP_S_4HANA_Config">
                        <s4hana:entity><![CDATA[#[vars.Product]]]></s4hana:entity>
                    </s4hana:update-entity>
                    <s4hana:update-entity service="API_PRODUCT_SRV" entityType="A_ProductDescription" doc:name="Update Product Description in S4Hana" doc:id="4a86acec-f67e-409b-beac-1cf7002440f4"
                        config-ref="SAP_S_4HANA_Config">
                        <s4hana:entity><![CDATA[#[vars.Product.to_Description[0]]]]></s4hana:entity>
                    </s4hana:update-entity>
                    <ee:transform doc:name="Save S4Hana Response" doc:id="acebf704-b097-4167-a3fe-97eb9f0b3e96">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                    <logger level="INFO" doc:name="Log Response" doc:id="c7e1c17d-0696-413d-a4a2-09ae72cac6eb" message="Update product: #[output application/json --- payload]" />
                </batch:step>
            </batch:process-records>
            <batch:on-complete>
                <os:store key="syncState" doc:name="Set sync state to fromS4Hana" doc:id="81cd0e51-f7c7-4cc9-b433-9e1c3ab0404d" objectStore="SchedulerStatus">
                    <os:value><![CDATA[#["fromS4Hana"]]]></os:value>
                </os:store>
            </batch:on-complete>
        </batch:job>
    </flow>
</mule>